#location-canvas {height: 100%;width:100%;position: relative;top: 0;left: 0;z-index: 0;}
#location-canvas .gmnoprint img{max-width:none;width:inherit;}
#om_container{position: relative;margin: 30px 0;height: 100%;}
